{
  "type": "all",
  "scripts": [
    {
      "type": "sig",
      "keyHash": "1cf713846c0ebb8e7048929f0e0a744462489055b54ebb7ec232ee9e"
    },
    {
      "type": "all",
      "scripts": [
        {
          "type": "after",
          "slot": 84460300
        },
        {
          "type": "all",
          "scripts": [
            {
              "type": "sig",
              "keyHash": "367de7536fa81dca31f13c74a46399f3dd3e402e1b34acd5ca772ed6"
            },
            {
              "type": "sig",
              "keyHash": "9541670ac64e41a337b13deae5d062a944d3cf37914e43a72d5110e6"
            },
            {
              "type": "sig",
              "keyHash": "121199bdd70ee009a4e56ef8cb14885581bea4e0323d771d8294288f"
            }
          ]
        }
      ]
    }
  ]
}